@using Nop.Plugin.Misc.Supplier.Model
@using Nop.Web.Framework.Models.DataTables
@using Nop.Web.Framework.Infrastructure
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Rendering
@inject Nop.Services.Localization.ILocalizationService localizationService

@model SupplierSearchModel

@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	ViewData["ActiveMenuSystemName"] = "Supplier";
	ViewBag.PageTitle = await localizationService.GetResourceAsync("Admin.Suppliers");
}

<div class="content-header clearfix">
	<h1 class="float-left">@await localizationService.GetResourceAsync("Admin.Suppliers")</h1>
	<div class="float-right">
		<a asp-action="Create" class="btn btn-primary">
			<i class="fas fa-plus-square"></i> @await localizationService.GetResourceAsync("Admin.Common.AddNew")
		</a>
	</div>
</div>

<section class="content">
	<div class="container-fluid">
		<div class="form-horizontal">
			<div class="cards-group">
				<div class="card card-default">
					<div class="card-body">
						@await Html.PartialAsync("Table", new DataTablesModel
 {
	 Name = "suppliers-grid",
	 UrlRead = new DataUrl("List", "Supplier", null),
	 SearchButtonId = "search-suppliers",
	 Length = Model.PageSize,
	 LengthMenu = Model.AvailablePageSizes,
	 ColumnCollection = new List<ColumnProperty>
						{
						new ColumnProperty(nameof(SupplierModel.Name)) { Title = "Name" },
						new ColumnProperty(nameof(SupplierModel.ContactPerson)) { Title = "Contact Person" },
						new ColumnProperty(nameof(SupplierModel.Phone)) { Title = "Phone" },
						new ColumnProperty(nameof(SupplierModel.Email)) { Title = "Email" },
						new ColumnProperty(nameof(SupplierModel.Address)) { Title = "Address" }
						}
 })
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
